# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
*.userprefs
*.pidb
*.suo
*.plc
*.log

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg

# Visual Studio / Rider
.vs/
*.swo
*.swn
.idea/
EOF